.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .message-list {
        flex-grow: 1;
        overflow: hidden;
        padding: 10px;

        &__container {
            width: 100%;
            height: 100%;
            padding: 10px 15px;
            box-sizing: border-box;
            border-radius: 10px;
            overflow-y: scroll;
            backdrop-filter: brightness(80%);
            display: flex;
            flex-direction: column;

            .message {
                display: flex;
                align-items: end;
                margin: 10px 0;

                &:hover {
                    .date-info {
                        .date {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }

                .sender {
                    width: 35px;
                    height: 35px;
                    min-width: 35px;
                    min-height: 35px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .message-block {
                    position: relative;
                    min-height: 35px;
                    max-width: 400px;
                    padding: 5px 10px;
                    margin: 0 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    font-weight: 500;
                    font-size: 16px;

                    &:before {
                        position: absolute;
                        content: '';
                        clip-path: polygon(15% 0, 100% 0%, 100% 75%, 100% 100%, 0 100%, 15% 70%);
                        width: 30px;
                        height: 20px;
                        bottom: 2px;
                        left: -4px;
                        z-index: -1;
                    }

                    .message-content {
                        .message-file {
                            display: flex;
                            cursor: pointer;
                            border-radius: 10px;

                            &:hover {
                                backdrop-filter: brightness(90%);
                            }

                            &__img {
                                height: 40px;
                                width: 40px;
                                box-sizing: border-box;
                                line-height: 46px;
                                font-size: 26px;
                                backdrop-filter: brightness(90%);
                                border-radius: 50%;
                                overflow: hidden;
                                text-align: center;
                            }

                            &__file-info {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;

                                .file-size {
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }

                &.my-message {
                    .message-block {
                        background-color: var(--accent-color);
                        color: #000;

                        &:before {
                            background-color: var(--accent-color);
                        }
                    }

                    @media screen and (max-width: 1200px) {
                        flex-direction: row-reverse;

                        .message-block {
                            background-color: var(--accent-color);
                            color: #000;
                            transform: scaleX(-1);

                            &:before {
                                background-color: var(--accent-color);
                            }

                            .message-content {
                                transform: scaleX(-1);
                            }
                        }
                    }
                }

                &.other-user-message {
                    .message-block {
                        background-color: var(--main-color);

                        &:before {
                            background-color: var(--main-color);
                        }
                    }
                }

                .date-info {
                    .date {
                        display: none;
                    }
                }
            }
        }
    }

    .chat-input {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        backdrop-filter: brightness(80%);

        .attached-files-block {
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--accent-color);

            .attached-file {
                position: relative;
                padding-left: 10px;
                height: 30px;
                display: flex;
                align-items: center;

                &:hover {
                    button.remove {
                        display: block;
                    }
                }

                button.remove {
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    color: var(--text-color);
                    cursor: pointer;
                    display: none;
                    left: 0;
                }

                .file_icon {
                    font-size: 17px;
                    margin-left: 10px;
                    line-height: 10px;
                }

                .filename {
                    margin-left: 10px;
                }

                .file-size {
                    margin-left: 10px;
                }

            }
        }

        .input-block {
            display: flex;
            align-items: center;

            button, label {
                background-color: transparent;
                border: none;
                border-radius: 50%;
                font-size: 22px;
                width: 30px;
                height: min-content;
                line-height: 10px;
                color: var(--accent-color);
                cursor: pointer;
                text-align: center;

                &:hover {
                    filter: brightness(80%);
                }
            }

            .textarea {
                flex-grow: 1;
                margin: 0 10px;
                padding: 10px 15px;
                max-height: 250px;
                box-sizing: border-box;
                outline: none;
                background-color: var(--background-color);
                filter: brightness(60%);
                border-radius: 5px;
                font-size: 17px;
                overflow-y: scroll;

                &.empty {
                    &:after {
                        content: 'Message';
                        opacity: .5;
                        cursor: text;
                    }
                }
            }
        }

    }
}