.main-view-aside {
    height: 100vh;
    width: 360px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;

    .aside-header {
        display: flex;
        height: min-content;
        background-color: var(--main-color-contrast);

        .main-logo {
            flex-grow: 1;
            line-height: 50px;
            font-size: 30px;
            text-align: center;
            padding: 0 5px;
        }
    }

    .aside-main {
        height: 100%;
        display: flex;
        overflow: hidden;
    }
}